@model IEnumerable<ThesisWebApplication.Models.Challenge>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Challenge Title
        </th>
        <th>
            Challenge Description
        </th>
        <th>
            Challenge Image
        </th>
        <th>
            Is Active
        </th>
        <th>
            Category Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChallengeTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChallengeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChallengeImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
